<div class="form-inputs m-1">
  <%= simple_form_for(@conceito, html: {novalidate: false}) do |f| %>
    <%= f.input :titulo, required: true %>
    <%= f.input :descricao, label: 'Descrição:', required: true %>
    <%# <%= f.input :foto, as: :file, label: 'Foto do Conceito', required: true %>

    <div class="btn-group" role="group">
      <% acao = controller.action_name == 'edit' ? 'Editar' : 'Criar' %>
      <%= f.button :submit, acao, class: 'btn btn-primary btn-lg' %>

      <%= link_to 'Retornar', :back,
        class: 'btn btn-warning btn-lg',
        type: 'button' %>
    </div>
  <% end %>
</div>
