<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'theta.png', class: 'logo' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link btn btn-primary" %>
        </li>
        <li class='nav-item'>
          <%= link_to "Constelação", constelacao_path, class: "nav-link btn btn-warning" %>
        </li>
        <li class="nav-item">
          <%= link_to "Cursos", cursos_path, class: "nav-link btn btn-success" %>
        </li>
        <li class="nav-item dropdown btn btn-info">
          <div class="dropdown">
            <a style="text-decoration:none" class="dropdown-toggle font-weight-bold" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Atendimentos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Sessões Agendadas", agendadas_path, class: "dropdown-item btn btn-info" %>
              <%= link_to "Agendar Sessão", agendar_path, class: "dropdown-item btn btn-info" %>
            </div>
          </div>
        </li>
        <% if current_user.role == 'admin' %>
          <li class="nav-item dropdown btn btn-secondary">
            <div class="dropdown">
              <a style="text-decoration:none" class="dropdown-toggle font-weight-bold" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clientes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Cadastrar", criar_cliente_path, class: "dropdown-item btn btn-info" %>
                <%= link_to "Ver Prontuários", escolher_cliente_path, class: "dropdown-item btn btn-info" %>
              </div>
            </div>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <img src="http://gravatar.com/avatar/7b5ceaf31db449b2f5645037b20615d0\" alt="Gravatar\" width="40" height="40" />
          <%# <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src=<%image_tag(user_avatar(current_user,40))%>
          <%# <%= image_tag(user_avatar(current_user,40), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Minhas Informações", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Encerrar Sessão", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class='nav-item'>
          <%= link_to "Constelação", constelacao_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Cursos", cursos_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Atendimentos", agendar_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Inscrever-se", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>