<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand btn btn-dark" do %>
      <%= image_tag "theta.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link btn btn-light" %>
          </li>
          <li class='nav-item'>
            <%= link_to "Conceitos", conceitos_path, class: "nav-link btn btn-warning" %>
          </li>
          <li class="nav-item">
            <%= link_to "Eventos", eventos_path, class: "nav-link btn btn-primary" %>
          </li>

          <% if user_signed_in? and current_user.role == "admin" %>

            <li class="nav-item dropdown btn btn-sm btn-danger">
            <%= image_tag "Cliente.png", class: "avatar dropdown-toggle", id: "navbarDropdownCliente", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Cadastrar", criar_cliente_path, class: "dropdown-item btn btn-info" %>
              <%= link_to "Ver Prontuários", escolher_cliente_path, class: "dropdown-item btn btn-info" %>
            </div>
            </li>

          <% end %>

          <li class="nav-item dropdown btn btn-sm btn-success">
            <%= image_tag "atendimento.jpg", class: "avatar dropdown-toggle", id: "navbarDropdownAtend", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Sessões Agendadas", agendadas_path, class: "dropdown-item btn btn-info" %>
              <%= link_to "Agendar Sessão", agendar_path, class: "dropdown-item btn btn-info" %>
            </div>
          </li>

        <% if user_signed_in? %>

          <li class="nav-item dropdown btn btn-dark btn-sm">
            <%= image_tag user_avatar(current_user, 40), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Minhas Informações", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Encerrar Sessão", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-light" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
