<div class="form-inputs m-1">
  <%= simple_form_for(@evento, html: {novalidate: false}) do |f| %>
    <%= f.input :titulo, required: true %>
    <%= f.input :descricao, label: 'Descrição:', required: true %>
    <%= f.input :inicio, as: :date, label: 'Início:', html5: true %>
    <%= f.input :fim, as: :date, label: 'Final:', html5: true %>
    <%= f.input :hora_inicio, as: :time, label: 'Hora de início do evento:', html5: true %>
    <%= f.input :hora_fim, as: :time, label: 'Hora de término do evento:', html5: true %>
    <%= f.input :foto, as: :file, label: 'Foto do evento', required: false %>

    <div class="btn-group" role="group">
      <% acao = controller.action_name == 'edit' ? 'Editar' : 'Criar' %>
      <%= f.button :submit, acao, class: 'btn btn-primary btn-lg' %>

      <%= link_to 'Retornar', :back,
        class: 'btn btn-warning btn-lg',
        type: 'button' %>
    </div>
  <% end %>
</div>
