<div class="devise-card">
  <h2 class='title mt-2'>Minhas Informações</h2>
  <div class="col-11 content">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <p class='my-3'><%= "e-mail: #{current_user.email}" %></p>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "deixar em branco se não pretende alterar",
                    required: false %>
        <%= f.input :password_confirmation,
                    required: false %>
        <%= f.input :current_password,
                    hint: "Precisamos da senha atual para confirmar alterações!",
                    required: true,
                    input_html: { autocomplete: "senha atual" } %>
        <div class="row border border-primary rounded mx-5 pt-3">
          <div class="col-sm-4">
            <%= image_tag user_avatar(current_user,60), class: 'rounded-circle ml-5', width: 60 %>
          </div>
          <div class="col-sm-8">
            <%= f.input :foto, as: :file %>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Atualizar",
        class: 'btn btn-primary btn-lg active btn-lg m-5' %>
      </div>

      <div class="btn-group d-flex justify-content-center" role="group">
        <%= link_to "Insatisfeito? Cancelar minha conta",
          registration_path(resource_name),
          method: :delete,
          data: { confirm: "Certeza?" },
          class: 'btn btn-danger btn-sm mx-5 mb-5',
          type: 'button' %>

        <%= link_to "Retornar", :back,
          class: 'btn btn-warning btn-sm ml-5 mb-5 active',
          type: 'button' %>
      </div>
    <% end %>
  </div>
</div>
