<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <%# <link rel="shortcut icon" href="/assets/theta.png">  tornou-se desnecessário %>
    
    <title>Terapias Reconstrutoras</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# https://www.railscoder.com/articles/adding-a-favicon-to-your-rails-7-app %>
    <%= favicon_link_tag asset_path('theta.png') %>

<% # Fontes %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">

    <% # <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload", defer: true -- não funciona!!! %>

  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/banner" %>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= render "shared/flashes" %>
  </body>
</html>